@import '../abstract/variables';

.banner {
    background: url(../imagens/banner.jpeg) 27% center no-repeat;
    min-height: 350px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9;

    .inner-banner {
        padding: 3rem;
        background-color: $cor-terciaria ;
        opacity: 0.9;
        border-radius: 45px;

        h1 {
            font-size: 4rem;
            color: $cor-primaria;
            text-align: center;
            padding: 0.5rem;
            font-family: 'Dancing Script', cursive;
            font-weight: bold;


        }

        h2 {
            font-size: $tamanho-do-texto /2.5;
            color: $cor-secundaria;
            font-weight: 300;

        }
    }
}