@import '../abstract/variables';

@mixin bg-cores ($cores...) {
    background: linear-gradient(to left, $cores);
}


footer {
    text-align: center;
    font-size: $tamanho-do-texto / 3;
    border-top: 2px solid $cor-primaria;
    margin-top: 1rem;
    padding: 1.2em;
    background: $cor-terciaria;
    color: $cor-primaria;
}