// Fontes
$fonte: 'Poppins', sans-serif;
$fonte-logo :'Dancing Script', cursive;



// Cores
$cor-primaria: #1B9C85;
$cor-secundaria: #E8F6EF;
$cor-terciaria: #4C4C6D;


// tamanho das fontes
$tamanho-do-texto: 3rem;